{% extends 'bace.html' %}
{% block content %}


<h1>Добавить товар</h1>  

<h1>Добавить товар</h1>  

<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Заполните данные товара</h5>
              <form class="form-signin" action="" method='POST' enctype="multipart/form-data">
                <div class="form-label-group">
                    <input type="text" name='title' class="form-control">
                    <label>Название товара</label>
                </div> 
                <div class="form-label-group">
                    <input type="text" name='body' class="form-control">
                    <label>Описание товара</label>
                </div>
                <div class="form-label-group">
                    <input type="number" min="1" name='price' class="form-control">
                    <label>Цена</label>
                </div>
                <div class="form-label-group">
                    <input type="text" name='category' class="form-control">
                    <label>Категория товара</label>
                </div>
                <div class="form-label-group">
                    <input type="text" name='availability' class="form-control">
                    <label>Наличие товара</label>
                </div>             
                <div class="form-label-group">
                    <input type="file" name='image' class="form-control">
                    <label>Добавить изображение</label>
                  </div> 

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Добавить товар</button>
                <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>


{% endblock %}