
{% extends 'bace.html'%}
{% block content %}




<body>
    <h1>Login / Register</h1>
    <div class="product_details">
		<div class="container">
            <div class="row details_row">
                <div class="col-lg-6">
                    <div class="details_image">
                   
                    <body>
                        <p>
                            <img src='{{ url_for("static", filename="images/" + product.image) }}' alt="" width="50%">
                        </p>  
                    </body>
                    

                    <div class="col-lg-6">
                        <div class="details_content">
                            <h5></h5>
                            <div class="details_name">{{ product.title }}</div>
                            <div class="details_price">{{ product.price }} ₽</div>
    
                            <div class="in_stock_container">
                                <div class="availability">{{ product.availability }}</div>
                                <span>В наличии</span>
                            </div>
                            <div class="details_text">
                                <p>{{ product.body }}</p>
                            </div>
    
                            <div class="product_quantity_container">
                                <div class="button cart_button"><a href="{{ url_for('buy') }}">Купить сейчас</a></div>
                            </div>
                            <h5></h5>
                        </div>
                    </div>
                <div class="details_share">
                    <span>Share:</span>
                    <ul>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  

{% endblock %}
